@model ProductVM

<div class="card shadow ">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark-emphasis fs-1 py-2 fw-bold"> @(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="pe-5">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <input asp-for="Product.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@

                        <div class="py-3 ">
                            <label asp-for="Product.Title" class="col-sm-2 col-form-label pb-1 fs-5"></label>
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 ">
                            <label asp-for="Product.Description" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class=" py-2 ">
                            <label asp-for="Product.ISBN" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.ISBN" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="  py-2 col-12">
                            <label asp-for="Product.Author" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.Author" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="  py-2 col-12">
                            <label asp-for="Product.ListPrice" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="  py-2 col-12">
                            <label asp-for="Product.Price" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>

                        <div class="  py-2 col-12">
                            <label asp-for="Product.Price50" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.Price50" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>

                        <div class="  py-2 col-12">
                            <label asp-for="Product.Price100" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input asp-for="Product.Price100" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>

                        <div class="  py-2 col-12">
                            <label asp-for="Product.CategoryId" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="  py-2 col-12">
                            <label asp-for="Product.ImageUrl" class="col-sm-2 col-form-label pb-1 fs-5" style="margin-left:2px"></label>
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ImageUrl" class="text-danger py-2 fs-1"></span>


                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-info form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-info form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-info border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>

        </form>
    </div>
</div>




@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}